@import '../../theme/variables.scss';

.playbar .left, .playbar .lock-section, .playbar .lock, .playbar .fill,
.playbar .pre, .playbar .play, .playbar .pause, .playbar .next {
    background: url('../../../static/playbar.png') no-repeat;
}

.playbar {
    height: 53px;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    transform: translateY(45px);
    transition: all .5s ease-in-out;
    @include respond-to(phone) {
        display: none;
    }

    &.locked {
        transform: translateY(0);
    }

    &:hover {
        transition: transform .2s ease-in-out;
        transform: translateY(0);
    }

    .left {
        background-position: 0 0;
        background-repeat: repeat-x;
        flex: auto;
        display: flex;
        justify-content: center;

        .wrap {
            display: inline-block;
            width: 700px;
            height: 47px;
            position: relative;
            bottom: -6px;
            padding-top: 3px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            .btns {
                width: 137px;
                display: inline-block;
                display: flex;
                align-items: center;

                & .pre, & .next {
                    width: 28px;
                    height: 28px;
                    display: inline-block;
                    margin-right: 8px;
                    cursor: pointer;
                }

                & .play, & .pause {
                    width: 36px;
                    height: 36px;
                    display: inline-block;
                    margin-right: 8px;
                    cursor: pointer;
                }

                .pre {
                    background-position: 0 -130px;

                    &:hover {
                        background-position: -30px -130px;
                    }
                }
                .play {
                    width: 36px;
                    width: 36px;
                    background-position: 0 -204px;

                    &:hover {
                        background-position: -40px -204px;
                    }
                }
                .pause {
                    width: 36px;
                    width: 36px;
                    background-position:0 -165px;

                    &:hover {
                        background-position: -40px -165px;
                    }
                }
                .next {
                    background-position: -80px -130px;

                    &:hover {
                        background-position: -110px -130px;
                    }
                }
            }

            .play-progress {
                width: 608px;
                margin-top: -10px;

                .info {
                    user-select:none;
                    height: 19px;
                    width: 100%;

                    .title {
                        color: #e8e8e8;
                        font-size: 12px;
                    }
                    .singer {
                        margin-left: 20px;
                        color: #9b9b9b;
                        font-size: 12px;
                    }
                }
                .progress {
                    height: 9px;
                    width: 493px;
                    background: url('../../../static/statbar.png');
                    background-position: right 0;
                    position: relative;
                    display: inline-block;

                    .dot {
                        cursor: pointer;
                        position: absolute;
                        background: url('../../../static/iconall.png');
                        background-position: 0 -250px;
                        width: 22px;
                        height: 24px;
                        top: -7px;
                        margin-left: -11px;
                    }

                    .played {
                        background: url('../../../static/statbar.png');
                        background-position: left -66px;
                        height: 9px;
                        position: absolute;
                    }
                }

                .time {
                    position: absolute;
                    color: #797979;
                    text-shadow: 0 1px 0 #121212;
                    font-size: 12px;
                    right: -80px;
                    top: -6px;

                    .played-time {
                        color: #a1a1a1;
                    }
                }
            }
        }
    }

    .right {
        background-position: 0 0;
        flex: 0 0 67px;
        background-repeat: repeat-x;
        display: flex;
        flex-direction: row;

        .lock-section {
            height: 67px;
            margin-top: -14px;
            flex: 0 0 52px;
            background-position: 0 -380px;
            position: relative;

            .lock {
                width: 15px;
                height: 15px;
                position: absolute;
                left: 16px;
                top: 6px;
                background-position: -80px -380px;
                cursor: pointer;

                &:hover {
                    background-position: -80px -400px;
                }

                &.locked {
                    color: red;
                    background-position: -100px -380px;

                    &:hover {
                        background-position: -100px -400px;
                    }
                }
            }
        }

        .fill {
            flex: 0 0 15px;
            margin-top: -1px;
            background-position: -52px -393px;
        }
    }
}