@import '../../theme/variables.scss';

.playbar .left, .playbar .lock-section, .playbar .lock, .playbar .fill,
.playbar .pre, .playbar .play, .playbar .pause, .playbar .next {
    background: url('../../../static/playbar.png') no-repeat;
}

.playbar {
    height: 53px;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    transform: translateY(45px);
    transition: all .5s ease-in-out;
    @include respond-to(phone) {
        display: none;
    }

    &.locked {
        transform: translateY(0);
    }

    &:hover {
        transition: transform .2s ease-in-out;
        transform: translateY(0);
    }

    .left {
        background-position: 0 0;
        background-repeat: repeat-x;
        flex: auto;
        display: flex;
        justify-content: center;

        .wrap {
            display: inline-block;
            width: 700px;
            height: 47px;
            position: relative;
            bottom: -6px;
            padding-top: 3px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            .btns {
                width: 137px;
                display: inline-block;
                display: flex;
                align-items: center;

                & .pre, & .next {
                    width: 28px;
                    height: 28px;
                    display: inline-block;
                    margin-right: 8px;
                    cursor: pointer;
                }

                & .play, & .pause {
                    width: 36px;
                    height: 36px;
                    display: inline-block;
                    margin-right: 8px;
                    cursor: pointer;
                }

                .pre {
                    background-position: 0 -130px;

                    &:hover {
                        background-position: -30px -130px;
                    }
                }
                .play {
                    width: 36px;
                    width: 36px;
                    background-position: 0 -204px;

                    &:hover {
                        background-position: -40px -204px;
                    }
                }
                .pause {
                    width: 36px;
                    width: 36px;
                    background-position:0 -165px;

                    &:hover {
                        background-position: -40px -165px;
                    }
                }
                .next {
                    background-position: -80px -130px;

                    &:hover {
                        background-position: -110px -130px;
                    }
                }
            }

            .play-progress {
                width: 608px;
                margin-top: -10px;

                .info {
                    user-select:none;
                    height: 19px;
                    width: 100%;

                    .title {
                        color: #e8e8e8;
                        font-size: 12px;
                    }
                    .singer {
                        margin-left: 20px;
                        color: #9b9b9b;
                        font-size: 12px;
                    }
                }
                .progress {
                    height: 9px;
                    width: 493px;
                    background: url('../../../static/statbar.png');
                    background-position: right 0;
                    position: relative;
                    display: inline-block;

                    .dot {
                        cursor: pointer;
                        position: absolute;
                        background: url('../../../static/iconall.png');
                        background-position: 0 -250px;
                        width: 22px;
                        height: 24px;
                        top: -7px;
                        margin-left: -11px;
                        z-index: 11;
                    }

                    .played {
                        background: url('../../../static/statbar.png');
                        background-position: left -66px;
                        height: 9px;
                        position: absolute;
                        z-index: 10;
                    }

                    .buffered {
                        background: url('../../../static/statbar.png');
                        background-position: right -30px;
                        height: 9px;
                        position: absolute;
                    }
                }

                .time {
                    position: absolute;
                    color: #797979;
                    text-shadow: 0 1px 0 #121212;
                    font-size: 12px;
                    right: -80px;
                    top: -6px;

                    .played-time {
                        color: #a1a1a1;
                    }
                }
            }
        }
    }

    .right {
        background-position: 0 0;
        flex: 0 0 67px;
        background-repeat: repeat-x;
        display: flex;
        flex-direction: row;

        .lock-section {
            height: 67px;
            margin-top: -14px;
            flex: 0 0 52px;
            background-position: 0 -380px;
            position: relative;

            .lock {
                width: 15px;
                height: 15px;
                position: absolute;
                left: 16px;
                top: 6px;
                background-position: -80px -380px;
                cursor: pointer;

                &:hover {
                    background-position: -80px -400px;
                }

                &.locked {
                    color: red;
                    background-position: -100px -380px;

                    &:hover {
                        background-position: -100px -400px;
                    }
                }
            }
        }

        .fill {
            flex: 0 0 15px;
            margin-top: -1px;
            background-position: -52px -393px;
        }
    }
}

.playbar-mobile {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    padding: 0 16px;
    background-color: rgba(255, 255, 255, 0.95);
    display: flex;
    justify-content: space-between;
    @include respond-to(computer) {
        display: none;
    }
    @include respond-to(tablet) {
        display: none;
    }

    .info {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .song {
            font-size: 15px;
            font-weight: 700;
        }
        .singer {
            font-size: 12px;
            color: #999;
        }
    }

    .btns {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        div:nth-child(1) {
            font-size: 30px;
        }
        div:nth-child(2), div:nth-child(3) {
            font-size: 18px;
        }
    }

    .progress {
        position: absolute;
        left: 0;
        top: 0;
        height: 2px;
        background-color: #00a8ff;
    }
}

@font-face {
    font-family: iconfont;
    src: url('//static0.qianqian.com/web/st/font/iconfont-4e6.woff') format('woff')
}


:global {
    :global(.iconfont) {
        font-family: iconfont!important;
        font-size: 16px;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }

    .icon-list:before {
        content: "\e603"
    }
    
    .icon-loop-single:before {
        content: "\e604"
    }
    
    .icon-arrow-right:before {
        content: "\e605"
    }
    
    .icon-loop:before {
        content: "\e606"
    }
    
    .icon-prev:before {
        content: "\e607"
    }
    
    .icon-favor:before {
        content: "\e608"
    }
    
    .icon-next:before {
        content: "\e60a"
    }
    
    .icon-download:before {
        content: "\e60b"
    }
    
    .icon-search:before {
        content: "\e60c"
    }
    
    .icon-zhanwei1:before {
        content: "\e610"
    }
    
    .icon-favor1:before {
        content: "\e618"
    }
    
    .icon-random:before {
        content: "\e619"
    }
    
    .icon-play:before {
        content: "\e616"
    }
    
    .icon-stop:before {
        content: "\e617"
    }
    
    .icon-mv:before {
        content: "\e61b"
    }
    
    .icon-arrow-down:before {
        content: "\e61d"
    }
    
    .icon-arrow-left:before {
        content: "\e61e"
    }
    
    .icon-arrow-up:before {
        content: "\e61f"
    }
    
    .icon-listen:before {
        content: "\e609"
    }
    
    .icon-round:before {
        content: "\e60d"
    }
    
    .icon-triangle:before {
        content: "\e60e"
    }
    
    .icon-information:before {
        content: "\e60f"
    }
    
    .icon-home:before {
        content: "\e611"
    }
    
    .icon-i:before {
        content: "\e612"
    }
    
    .icon-information-:before {
        content: "\e613"
    }
    
    .icon-bubble-filled-icon:before {
        content: "\e614"
    }
    
    .icon-round-right:before {
        content: "\e615"
    }
    
    .icon-vip:before {
        content: "\e61a"
    }
    
    .icon-word:before {
        content: "\e61c"
    }
}