@import '../../theme/variables.scss';

*,
:after,
:before {
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

body {
  background-color: #e9ebec;
  padding: 0;
  margin: 0;
}

:global(.menu-collapsed) {
  overflow-y: hidden;
}

:global(.container) {
  min-height: 600px;
  padding-top: 150px;
  margin-bottom: 300px;

  @include respond-to(computer) {
    width: 900px;
    margin: 0 auto 50px auto;
  }
  @include respond-to(phone) {
    padding-top: 0;
  }
}

:global(.container:before) {
  content: '';
  background-color: #000;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all .5s linear;
}

:global(.menu-collapsed) :global(.container:before) {
  opacity: .5;
  left: 0;
  top: 0;
  z-index: 1;
}
